.hoverClicks-wrapper {
    display: flex;
    padding: 0 20px;
}

.hoverClick-wrapper {
    position: relative;
    flex: 1;
    padding: 20px 0px;

}

.hoverClick-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;

}

.hoverClick-img-wrapper img {
    max-width: 90%;
}

.floater-img-wrapper {
    position: absolute;
    opacity: 0;
    width: 25px;
    height: 25px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    z-index: 1;
}
.floater-img-wrapper.active {
    opacity: 1;
}
.floater-img-wrapper.rotate {
    transform: rotate(45deg);
}

.floater-img-wrapper img {
    width: 100%;
}

.popUp-wrapper {
    opacity: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width: 90%;
    padding: 15px;
    z-index: -1;
    transition: opacity 200ms ease-in-out;
}

.popUp-wrapper.active {
    opacity: 1;
    z-index: 4;
}

.popUp-title {
    font-size: 20px;
    font-weight: 600;
}

.popUp-description {
    padding: 20px 0;
    font-size: 15px;
    font-weight: 500;
}

.popUp-link {
    font-size: 15px;
    font-weight: 500;
}

.popUp-exit {
    position: absolute;
    top: 21px;
    right: 10px;
    cursor: pointer;
}

.hoverClick-dim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    height: 100%;
    width: 100%;
    transition: opacity 200ms linear;
    z-index: -1;
}

.hoverClick-dim.active {
    opacity: .3;
    z-index: 3;
    cursor: pointer;
}

.popUp-exit img {
    width: 15px;
}

.swiper-button-prev, .swiper-button-next {
    color: black !important;
}

.swiper-pagination-bullet-active {
    background-color: black !important;
}

.wra {
    padding: 0 12px;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, -10px)!important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}

.mySwiper {
    overflow: visible !important;
    overflow-x: hidden;
    max-width: 1600px;
}

.swiper-mobile {
    display: none !important;
}

@media (max-width: 650px) {
    .floater-img-wrapper {
        opacity: 1;
    }
    .swiper-mobile {
        display: block !important;
    }

    .swiper-desktop {
        display: none !important;
    }
}